<template name="checkList">
    <div class="post">
        <div class="post-content">
            <h5>Проверка тестов</h5>
            <table class="table">
                <thead>
                <tr>
                    <th>Дисциплина</th>
                    <th>Название теста</th>
                    <th>Пользователь</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each results}}
                    <tr>
                        <td>{{disciplineName idTest}}</td>
                        <td>{{ testName idTest }}</td>
                        <td>{{user idUser}}</td>
                        <td><a href="{{pathFor 'checkResult' idRes=_id}}">проверить</a> </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</template>