<template name="taskItem2">
    <h6>Предмет: {{discipline.name}} Тема: {{teme}} <i class="fa fa-trash-o fa-2x delete" style="color:crimson"></i></h6>
    <h3>{{head}}</h3>
    {{#if url}}
        <img src="{{url}}">
    {{/if}}
    <div class="radio_zone"></div>
    <h3 class="answer">Правильный ответ:</h3>
    <h3>Стоимость задания: {{cost}} </h3>
</template>