<template name="taskItem4">
    <h6>Предмет: {{discipline.name}} Тема: {{teme}} <i class="fa fa-trash-o fa-2x delete" style="color:crimson"></i></h6>
    <h3>{{head}}</h3>
    {{#if url}}
        <img src="{{url}}">
    {{/if}}
    <ol>
        {{#each data}}
            <li><h5>{{this}} <input type="number" min="1" max="{{list_length}}" value="1" class="numberList"> </h5></li>
        {{/each}}
    </ol>

    <!--<h3>Правильные ответы:  {{answers}}</h3>-->
    <h3>Стоимость задания: {{cost}} </h3>
</template>

<!-- напротив элементов списка выставляются поля в которые вписываются порядковые номера-->