<template name="taskItem5">
    <h6>Предмет: {{discipline.name}} Тема: {{teme}} <i class="fa fa-trash-o fa-2x delete" style="color:crimson"></i></h6>
    <h3>{{head}}</h3>
    {{#if url}}
        <img src="{{url}}">
    {{/if}}
    <div>
        <textarea>Здесь следует ответить на вопрос</textarea>
    </div>


    <h3>Стоимость задания: {{cost}} </h3>
</template>