<template name="disciplineNTemeBlock" xmlns="http://www.w3.org/1999/html">
    <select class="discip" style="width: 120px">
        {{#each disciplines}}
            <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select>
    <select class="tem">

    </select>
</template>