<template name="taskItem">
    <div class="post">
        <div class="post-content">
            {{#if q1}}{{>taskItem1}}{{/if}}
            {{#if q2}}{{>taskItem2}}{{/if}}
            {{#if q3}}{{>taskItem3}}{{/if}}
            {{#if q4}}{{>taskItem4}}{{/if}}
            {{#if q5}}{{>taskItem5}}{{/if}}
            {{#if q6}}{{>taskItem6}}{{/if}}


        </div>
    </div>
</template>