<Template name="newFollowItem">
    <div class="post">
        <div class="post-content">
            <h4>Добавление задания с установлением последовательности</h4>
            {{> disciplineNTemeBlock}}
            <h5>Текст задания</h5>
            <textarea id="follow_head"></textarea>

            <h5>Загрузить изображение</h5>
            <input type="file" id="file">
            <input type="submit" value="Загрузить">
            {{>FS.UploadProgressBar bootstrap=true}}

            <h5>Правильная последовательность</h5>
            <div id="follow_list">
                <div id="follow1">
                    <input type="text" class="form-control" id="follow_t_1" maxlength="200">
                </div>
                <div id="follow2">
                    <input type="text" class="form-control" id="follow_t_2" maxlength="200">
                </div>
                <div id="follow3">
                    <input type="text" class="form-control" id="follow_t_3" maxlength="200">
                </div>
                <div id="follow4">
                    <input type="text" class="form-control" id="follow_t_4" maxlength="200">
                </div>
            </div>
            <div align="left">
                <i class="fa fa-plus fa-2x follow_inc"></i>
                <i class="fa fa-minus fa-2x follow_dec"></i>
            </div>

            <h5>Стоимость задания</h5>
            <input type="number" min="1" max="20" value="1" id="follow_cost" class="numberList"><br>
            <button class="follow_item_adding">Добавить в БД</button>
        </div>
    </div>

</Template>