<Template name="newAccordItem">

    <div class="post">
        <div class="post-content">
            <h4>Добавление задания с установлением соответсвия</h4>
            {{> disciplineNTemeBlock}}
            <h5>Текст задания</h5>
            <textarea id="accord_head"></textarea>

            <h5>Загрузить изображение</h5>
            <input type="file" id="file">
            <input type="submit" value="Загрузить">
            {{>FS.UploadProgressBar bootstrap=true}}

            <table>
                <th>
                    <h5>Список 1</h5>
                    <div id="accord_first_list">
                        <div id="accord_f1">
                            <input type="text" class="form-control" id="accord_f_t_1" maxlength="200">
                            <input type="number" min="1" max="2" value="1" id="accord_f_n_1" class="numberList">
                        </div>
                        <div id="accord_f2">
                            <input type="text" class="form-control" id="accord_f_t_2" maxlength="200">
                            <input type="number" min="1" max="2" value="1" id="accord_f_n_2" class="numberList">
                        </div>
                    </div>
                    <div align="left">
                        <i class="fa fa-plus fa-2x accord_f_inc"></i>
                        <i class="fa fa-minus fa-2x accord_f_dec"></i>
                    </div>
                </th>
                <th><div style="width: 40px"></div></th>
                <th>
                    <h5>Список 2</h5>
                    <div id="accord_second_list">
                        <div id="accord_s1">
                            <input type="text" class="form-control" id="accord_s_t_1" maxlength="200">
                        </div>
                        <div id="accord_s2">
                            <input type="text" class="form-control" id="accord_s_t_2" maxlength="200">
                        </div>

                    </div>
                    <div align="left">
                        <i class="fa fa-plus fa-2x accord_s_inc"></i>
                        <i class="fa fa-minus fa-2x accord_s_dec"></i>
                    </div>
                </th>
            </table>
            <h5>Стоимость задания</h5>
            <input type="number" min="1" max="20" value="1" id="accord_cost" class="numberList"><br>
            <button class="accord_item_adding">Добавить в БД</button>
        </div>
    </div>
</Template>