<template name="addItem">
    <h6>Предмет: {{discipline.name}} Тема: {{teme}}</h6>
    <h3>{{{head}}}</h3>
    {{#if url}}
        <img src="{{url}}">
    {{/if}}
    <div>
        <h5>
            {{#each data}}
                {{this}}  <input type="text" maxlength="200" class="text-case add_form">
            {{/each}}
        </h5>
    </div>
    <!--<h3>Стоимость задания: {{cost}} </h3>-->
    <!--<br><button class="confirm">Подтвердить</button>-->
</template>