<template name="followItem">
    <h6>Предмет: {{discipline.name}} Тема: {{teme}}</h6>
    <h3>{{head}}</h3>
    {{#if url}}
        <img src="{{url}}">
    {{/if}}
    <ol>
        {{#each list}}
            <li><h5>{{this}} <input type="number" min="1" max="{{list_length}}" value="1" class="numberList"> </h5></li>
        {{/each}}
    </ol>
    <!--<h3>Стоимость задания: {{cost}} </h3>-->
    <!--<br><button class="confirm">Подтвердить</button>-->
</template>
