<template name="changeUserDataRow">
    <tr>
        <td>{{_id}}</td>
        <td><input type='text' class='form-control change_user_data_1' maxlength='20' style="width: 80px" value="{{profile.studentNumber}}"></td>
        <td><input type='text' class='form-control change_user_data_2' maxlength='20' value="{{username}}" style="width: 100px"></td>
        <td><input type='text' class='form-control change_user_data_3' maxlength='140' value="{{profile.name}}"></td>
        <td><p>
            <select class='change_user_data_4' style="width: 120px">
                {{> groupsList}}
            </select>
        </p></td>
        <td><i class="fa fa-pencil fa-2x edit"></i></td>
        <td><i class="fa fa-trash-o fa-2x delete" style="color:crimson"></i></td>
        <td><a href="#" class="changeUserPassword">сбросить <br> пароль</a></td>

    </tr>
</template>