<template name="testing">
    <div class="posts">
        {{#each tasks}}
            <h3>Вопрос №{{number}}</h3>
            {{> testingItem}}
        {{/each}}
        <button class="end_test">Завершить тестирование</button>
    </div>
</template>