<template name="notifications">
    <div class="errors row-fluid">
        {{#each notifications}}
            {{> notification}}
        {{/each}}
    </div>
</template>
<template name="notification">
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{message}}
    </div>
</template>